<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logosw"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepWell"
        tools:targetApi="34">

        <!-- SplashActivity -->
        <activity
            android:name="com.brydev.sleepwell.ui.SplashScreen"
            android:theme="@style/Theme.SleepWell"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (Login Activity) -->
        <activity
            android:name="com.brydev.sleepwell.ui.MainActivity"
            android:exported="true" />

        <!-- Other activities -->
        <activity
            android:name="com.brydev.sleepwell.ui.RegisterActivity"
            android:exported="true" />

        <activity
            android:name="com.brydev.sleepwell.ui.HomeActivity"
            android:exported="true" />

        <activity
            android:name="com.brydev.sleepwell.ui.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.brydev.sleepwell.ui.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.brydev.sleepwell.ui.QuestionnaireActivity"
            android:exported="true" />
        <activity
            android:name="com.brydev.sleepwell.ui.ResultActivity"
            android:exported="true" />
        <activity
            android:name="com.brydev.sleepwell.ui.HistoryActivity"
            android:exported="true" />
    </application>

</manifest>
